.App {
  margin: 0 auto;
  width: 90%;
}

.repo {
  border-bottom: 1px solid black;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 10px;
}

span {
  margin-right: 5px;
}

.commit-info {
  font-weight: bold;
  font-size: 70%;
}

